<div class="container mt-4">
  <div class="row">
      <div class="text-end">
        <button routerLink="/department" class="btn btn-primary">Department List</button>
      </div>
  </div>
</div>
<div class="pt-3">
  <div class="row">
      <div class="mx-auto col-10 col-md-8 col-lg-6">
          <h2>Add Department</h2>
          <hr />
          <form [formGroup]="departmentForm" (ngSubmit)="addDepartment()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Enter Department Name"
              [class.is-invalid]="errors['name'].invalid && errors['name'].touched || backendError != ''">
              <div>
                <small class="text-danger fw-bold" *ngIf="errors['name'].invalid && errors['name'].touched">
                  * Name is required!</small>
                <small class="text-danger fw-bold" *ngIf="backendError != '' && errors['name'].valid">
                  {{backendError}}</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-control" formControlName="status">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              </select>
            </div>
              <button type="submit" [disabled]="departmentForm.invalid" class="btn btn-success w-100">Submit</button>
          </form>
      </div>
  </div>
</div>
