<div class="container mt-4">
  <div class="row">
      <div class="text-end">
        <button routerLink="/department" class="btn btn-primary">Department List</button>
      </div>
  </div>
</div>
<div class="pt-3">
  <div class="row">
      <div class="mx-auto col-10 col-md-8 col-lg-6">
          <h2>Add Department</h2>
          <hr />
          <form #form="ngForm" (ngSubmit)="editDepartment()">
            <input type="hidden" id="id" name="id"
              [(ngModel)]="departmentDetails.id">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name"
              [(ngModel)]="departmentDetails.name">
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-control" id="status" name="status"
               [(ngModel)]="departmentDetails.status">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              </select>
            </div>
              <button type="submit" class="btn btn-success me-2" style="width: 200px;">Submit</button>
              <button routerLink="/department" class="btn btn-secondary" style="width: 150px;">Back</button>
          </form>
      </div>
  </div>
</div>
