<div class="container mt-5">
    <h1>Employee</h1>
    <table class="table table-striped table-hover mt-3" *ngIf="employees && employees.length > 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Salary</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.salary}}</td>
          <td>{{employee.department}}</td>
        </tr>
      </tbody>
    </table>
    <h2 class="mt-3" *ngIf="!employees || employees.length < 1">Employees not found!</h2>
</div>
